﻿@model VideoStore.WebClient.ViewModels.CatalogueViewModel

@{
    ViewBag.Title = "ListMedia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List Media (use WebAPI)</h2>

<table ng-controller="MediaController" ng-app="video-app">
    <tr>
        <th></th>
    </tr>  

        <tr  ng-repeat="item in mediaList">
            <td>
                <a href="/review?mediaId={{item.Id}}" target="_blank"> {{item.Title}}</a> |
                Price: ${{item.Price}} |
                Quantity: {{item.StockCount}}

                @using (Html.BeginForm("AddToCart", "Cart"))
                { 
                    <input type="hidden" name="pMediaId" value="{{item.Id}}" />
                    @Html.Hidden("pReturnUrl", ViewContext.HttpContext.Request.Url.PathAndQuery)
                    <input type="submit" value="+ Add to Cart" />
                }
            </td>
        </tr> 
</table>

@section scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <script>
         angular.module('video-app', [])
            .controller('MediaController', function ($scope, $http) {
                $http.get('/api/media')
                .then(function (r) {
                    $scope.mediaList = r.data;
                });
            });
    </script>
}
