﻿@model VideoStore.WebClient.ViewModels.ReviewViewModel
@{
    ViewBag.Title = "Write a review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Write a review</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">

            @using (Html.BeginForm("CreateReview", "Review", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.Hidden("mediaId", (int)ViewBag.MediaId)
                
                <div class="form-group">
                    @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Rating, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Rating, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Rating, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ReviewText, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ReviewText, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ReviewText, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            }


        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

