﻿@model   VideoStore.WebClient.ViewModels.MediaDetailsViewModel
@{
    ViewBag.Title = "Media Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Media Details</h2>
<p>Title: @Model.Media.Title </p>
<p>
    Price: $@Model.Media.Price
</p>
<p> Quantity: @Model.Media.StockCount</p>
<p> Average Rating: @decimal.Round(Model.Media.AverageRating,2)</p>
<p> Ratings Count: @Model.Media.RatingsCount</p>
 
@Html.ActionLink("Write a review", "CreateReview", new { mediaId = Model.Media.Id })

<ul>
    @foreach (var item in Model.Reviews)
    {
        <li> Rating:<b>@item.Rating</b>  | Title: @item.Title | Review text: @item.ReviewText on @item.Date </li>
    }
    
</ul>

